.modal-background{
    min-height: 300px;
    max-width: 45%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1000px 900px #8758ff5b;
}

h2{
    font-size: 32px;
}
.input-create{
    width: 60%;
    border-radius: 8px;
    background-color: transparent;
    height: 200px;
    margin: 30px auto 40px auto;
    border:2px solid var(--white);;
    padding:25px;
    resize: none;;
}

.button-create{
    background: var(--purple);
    border-radius: 8px;
    border: 2px solid var(--white);
    padding: 15px 50px;
    font-weight: 700;
    font-size: 23px;
}